@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/Proxima Nova Regular.otf');

}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/Proxima Nova Bold.otf');

}