@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$baseColor: #3AB7BD;
$baseFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseTitleFont: 'Roboto Slab', serif;

body {
  background: #fff;
  font-family: $baseFont;
  font-size: 15px;
  line-height: 25px;
}

p {
  text-align: justify;
  line-height: 25px;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.img-thumbnail, .btn, .form-control {
  border-radius: 1px;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.pagew {
  display: block;
  clear: both;
  margin: 0 auto;
  max-width: 1200px;
}

.pagew:after, .cleafix:after ,.paginationsw:after{
  content: ' ';
  height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    float: left;
    display: inline-block;
    position: relative;
    a {
      display: block;
      text-decoration: none;
    }
  }
}

.top-menu {
  background: $baseColor;
  color: #fff;
}

.products {
  margin-bottom: 35px;
  .products-image {
    img {
      &:hover, &:focus {
        opacity: 0.9;
        transition: 500ms;
      }
    }
  }
  .products-title {
    h2 {
      font-size: 14px;
      text-transform: capitalize;
      text-align: center;
      line-height: 20px;
      height: 40px;
      font-weight: bold;
      letter-spacing: 0.5px;
      font-family: $baseTitleFont;
      a {
        color: #333;
        display: block;
        &:hover, &:focus {
          transition: 500ms;
          color: #483B67;
        }
      }
    }
  }
  .products-price {
    text-align: center;
    strong {
      color: #D02229;
    }
  }
}

.paginationsw {
  clear: both;
  overflow: hidden;
  margin: 10px 0;
  text-align: center;
  .pagination {
    margin: 0 auto;
  }
}

.top-hotline {
  margin: 25px auto;
}

.product {
  .product-content {
    p {
      overflow: hidden;
    }
    img {
      max-width: 100% !important;
      height: auto !important;
    }
  }
  .product-detail {
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
    h1 {
      font-size: 20px;
      line-height: 30px;
      font-family: $baseTitleFont;
      color: #333;
      margin: 0 0 20px 0;
      padding: 7px 0;
      text-transform: capitalize;
      background: #F1F6F8;
      border: 1px solid #ddd;
      span {
        border-bottom: 2px solid $baseColor;
        border-left: 2px solid $baseColor;
        padding: 5px 10px 5px 10px;
      }
      &:hover, &:focus {
        span {
          border-color: #D12229;
          transition: 500ms;
          cursor: pointer;
        }
      }
    }
    .product-cart-detail {
      .name {
        font-size: 25px;
        color: $baseColor;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
      .price {
        font-size: 25px;
        color: #F6501E;
      }
    }
  }
}

.aside {
  .block {
    margin-bottom: 25px;
    h3 {
      background: #3AB7BD;
      color: #fff;
      margin: 0 0 0 0;
      border-bottom: 2px solid #237577;
      span {
        display: block;
        padding: 0 10px;
        line-height: 38px;
        height: 38px;
        font-size: 18px;
        text-transform: uppercase;
        .glyphicon {
          font-size: 15px;
          padding-right: 10px;
        }
      }

    }
    .category-list {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: block;
          border-bottom: 1px dashed #ddd;
          background: #F1F6F8;
          position: relative;
          a {
            padding: 5px 15px;
            font-size: 13px;
            color: #333;
            text-decoration: none;
            display: block;
            font-weight: bold;
            .glyphicon {
              float: right;
              font-size: 10px;
              margin-top: 5px;
              font-weight: bold;
            }
            &:hover, &:focus {
              color: $baseColor;
              transition: 500ms;
            }
          }
          ul {
            display: none;
            left: 100%;
            position: absolute;
            z-index: 100000;
            width: 100%;
            top: 0;
            li {
              a {
                text-transform: capitalize;
              }
            }
          }
          &:hover, &:focus {
            ul {
              display: block;
            }
          }
        }
      }
    }
  }
}

.top-menuw {
  ul.menu {
    li {
      position: relative;
      a {
        color: #fff;
        display: block;
        padding: 7px 20px;
        text-transform: capitalize;
        font-weight: bold;
      }
      &:hover, &:focus {
        ul {
          display: block;
        }
      }
      ul {
        position: absolute;
        display: block;
        background: #F1F6F8;
        z-index: 1000000;
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 250px;
        display: none;
        li {
          width: 100%;
          border-bottom: 1px dashed #ddd;
          a {
            color: #333;
            font-size: 13px;
            overflow: hidden;
            display: block;
            float: none;
            &:hover, &:focus {
              color: $baseColor;
              transition: 500ms;
            }
            i {
              float: right;
              margin-top: 5px;
              font-size: 10px;
              font-weight: bold;
            }
          }
          ul {
            display: none;
          }
        }
      }
    }
  }
}

.cart {
  h1 {
    font-size: 20px;
    font-family: $baseTitleFont;
    color: #333;
    margin: 0 0 20px 0;
    text-transform: capitalize;
    background: #F1F6F8;
    border: 1px solid #ddd;
    padding: 7px 0;
    span {
      border-bottom: 2px solid $baseColor;
      border-left: 2px solid $baseColor;
      padding: 5px 10px 5px 10px;
    }
    &:hover, &:focus {
      span {
        border-color: #D12229;
        transition: 500ms;
        cursor: pointer;
      }
    }
  }
  .row {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
}

.slider {
  margin: 10px auto;
}

.note {
  background: #F1F6F8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  .note-items {
    padding-left: 50px;
    h5 {
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      font-size: 13px;
      color: #454545;
    }
  }
  .note-items-1 {
    background: url(img/note-items-1.png) no-repeat left center;
  }
  .note-items-2 {
    background: url(img/note-items-2.png) no-repeat left center;
  }
  .note-items-3 {
    background: url(img/note-items-3.png) no-repeat left center;
  }
  .note-items-4 {
    background: url(img/note-items-4.png) no-repeat left center;
  }
}

.notes {
  padding: 15px 0;
  background: $baseColor;
  color: #fff;
  .items {
    .items-title {
      h5 {
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 0 15px 0;
        border-bottom: 2px solid #fff;
        padding-bottom: 15px;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        a {
          color: #fff;
        }
      }
    }
  }
  span {
    color: #fff;
  }
}

.top-search {
  width: 100%;
  margin: 40px auto 30px auto;
  .input-group-addon {
    background: #fff;
    cursor: pointer;
  }
  .input-group {
    width: 100%;
  }
  .form-control {
    min-height: 40px;
    font-family: $baseTitleFont;
  }
  input[type="text"] {
    min-height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(58, 183, 189);
    border-image: initial;
    border-radius: 1px;
    width: 80%;
  }

  .input-group-addon {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    cursor: pointer;
    width: 32px !important;
    background: rgb(58, 183, 189);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(58, 183, 189);
    border-image: initial;
    border-radius: 1px;
  }
}

.content {
  .content-wrapper {
    margin-bottom: 35px;
    h3{
      font-size: 14px;
      font-weight: bold;
    }
    h2{
      font-size: 16px;
      font-weight: bold;
    }
    p {
      overflow: hidden;
    }
    img {
      max-width: 100% !important;
      height: auto !important;
    }
  }
  .content-detail {
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
    h1 {
      font-size: 20px;
      line-height: 30px;
      font-family: $baseTitleFont;
      color: #333;
      margin: 0 0 20px 0;
      padding: 7px 0;
      text-transform: capitalize;
      background: #F1F6F8;
      border: 1px solid #ddd;
      span {
        border-bottom: 2px solid $baseColor;
        border-left: 2px solid $baseColor;
        padding: 5px 10px 5px 10px;
      }
      &:hover, &:focus {
        span {
          border-color: #D12229;
          transition: 500ms;
          cursor: pointer;
        }
      }
    }
  }
}

.page-title {
  font-size: 20px;
  line-height: 30px;
  font-family: $baseTitleFont;
  color: #333;
  margin: 0 0 20px 0;
  padding: 7px 0;
  text-transform: capitalize;
  background: #F1F6F8;
  border: 1px solid #ddd;
  span {
    border-bottom: 2px solid $baseColor;
    border-left: 2px solid $baseColor;
    padding: 5px 10px 5px 10px;
  }
  &:hover, &:focus {
    span {
      border-color: #D12229;
      transition: 500ms;
      cursor: pointer;
    }
  }
}

.posts{
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  .posts-title{
    h2{
      margin: 0 0 25px 0;
      font-size: 30px;
      a{
        color: #333;
        &:hover,&:focus{
          color: $baseColor;
          transition: 500ms;
          text-decoration: none;
        }
      }
    }
    .posts-description{
      font-family: $baseTitleFont;
      line-height: 25px;
      font-size: 14px;
    }
  }
  .read-more{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

#main-menu:not( .mm-menu ) {
  display: none;
}

.category-description{
  display: block;
  clear: both;
  p{
    font-size: 12px;
    margin-bottom: 10px;
  }
  h2{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
  }
}
